.container .latest-news {
    text-align: center;
    font-size: 2.5rem;
    background-color: black;
    color: rgb(255, 255, 255);
  }
  
  .latest-news{
    padding: 20px;
  }

  .container .paragraph {
    text-align: center;
  }
  
  .container .cards {
    max-width: 1300px;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  
  .container .newsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    text-align: left;
  }
  
  @media screen and (max-width: 800px) {
    .container .cards {
      flex-wrap: wrap;
    }
  }
  