.footerContainer {
  background-color: #3d017a;
  color: white;
  font-size: 16px;
  margin-top: 100px;
  padding: 40px 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: 50px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  margin: 15px 0;
  cursor: pointer;
}

.footer li:hover {
  color: rgb(44, 241, 248);
}

.logos, .useful, .contact, .subscribe {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

.logos .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos img {
  margin-top: -10%;
  width: 18rem;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.social-icons span {
  margin: 0 5px;
  border: 2px solid white;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.social-icons span:hover {
  color: rgb(44, 241, 248);
}

h3 {
  font-size: 1.8rem;
  margin-top: 5%;
  text-align: left;
}

.subscribe .ptag {
  margin: 20px 0;
}

.subscribe input {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border-radius: 50px;
  border: none;
}

.subscribe input:focus,
.subscribe button:focus {
  outline: none;
}

.subscribe button {
  margin-top: 10px;
  width: 100%;
  border-radius: 50px;
  color: #3d017a;
  font-size: 14px;
  font-weight: bolder;
  padding: 12px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.subscribe button:hover {
  box-shadow: 2px 2px 10px #ffffff;
}

.contact .ptag {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}

hr {
  background-color: lightgrey;
  height: 1px;
  border: none;
  margin: 20px 0;
}

.copyright .pcopy {
  text-align: center;
  padding: 15px 0;
  color: white;
}

#ptag{
  color: white;
  text-align: left;
}

#pcopy{
  color: white;
}

#pcontact{
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}

/* Responsive Design */
@media screen and (max-width: 1000px) {
  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .logos, .useful, .contact, .subscribe {
      width: 100%;
      text-align: left;
  }
}
